<?xml version="1.0" encoding="UTF-8"?>
<beans:beans       xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">
 

<!-- Below we loaded properties file --> 
<context:property-placeholder location="classpath:application.properties"/>

<!-- It will enable component scanning , Spring Container will scan for classes -->
<context:component-scan base-package="com.springJavaAnnotations.springjavaannotations" />
   
</beans:beans>